<div class="container-fluid bottonMenu">
    <div class="row">
        <div class="col-12">
            <ul>
                <li routerLink="./Profile" routerLinkActive="active"> 
                    <img src="../../../assets/imgs/myProfile.png" alt="myProfile.png">
                </li>
                <li routerLink="./MyPet" routerLinkActive="active"> 
                    <img src="../../../assets/imgs/alimento.png" alt="myPets.png"> 
                </li>
                <li routerLink="./Home" routerLinkActive="active"> 
                    <img src="../../../assets/imgs/home.png" alt="Home.png"> 
                </li>
                <li routerLink="./Notes" routerLinkActive="active"> 
                    <img src="../../../assets/imgs/medicine.png" alt="myNotes.png"> 
                </li>
            </ul>
        </div>
    </div>
</div>
