<section class="container animate__animated animate__fadeIn">
    <div class="row Notes">
        <div class="col-12"><h2>Consultas & Seguimientos</h2></div>
        <div class="col-md-4" *ngFor="let note of Notes" style="padding: 15px">
            <div class="card text-center">
                <p>Veterinario {{note.veterinary.names}}</p>
                <p>Cita: {{note.day}}</p>
                <p>Proxima Cita: {{ note.nextappointment | date: 'dd/MM/yyyy' }}</p>
                <p>{{note.notes}}</p>
                <div>
                    <p>$ {{note.price}}</p>
                    <ng-container *ngIf="note.PaidOut; else elseTemplate">
                        <p><span class="badge badge-success">Pagado</span></p>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <p><span class="badge badge-warning">Pendinte</span></p>
                    </ng-template>
                </div>
            </div>   
        </div>
    </div>
</section>
