<section class="container-fluid p-0 animate__animated animate__fadeIn">
    <div class="row page404">
        <div class="col-12 content">
            <p>Página no accesible para el usuario, tranquilo puedes regresar al inicio o iniciar sesión de ser necesario. Si este error persiste envía un comentario, si tratas de acceder a una acción y no es accesible depende de tu tipo de cuenta.</p>
            <h2>404</h2>
            <h3>Ooops Página no encontrada</h3>
            <button (click)="returnHome()" class="btn">Regresar al Inicio</button>
        </div>
    </div>
</section>
