<div class="container- fluid">
    <div class="row">
        <div class="col-12 topMenu">
            <div class="dropdown">
                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img [src]="user.viewImageUrl" width="30px" height="30px" alt="">
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <p class="text-center"> Usuario: {{user.names}} </p>
                  <p class="text-center">Email: {{ user.email }} </p>
                  <a class="dropdown-item" routerLink="./Profile" routerLinkActive="active" >Editar Perfil</a>
                  <a class="dropdown-item" routerLink="./Home" routerLinkActive="active" >Agregar Mascota</a>
                  <a class="dropdown-item" (click)="logout()" >Cerrar Sesión</a>
                </div>
              </div>
              <div>
                  <form>
                      <input [formControl]="searchAll" type="text" class="form-control" placeholder="Buscar..">
                  </form>
              </div>
        </div>
    </div>
</div>
