<section class="container Pets">
    <div class="row">
        <div class="col-12 ">
            
            <div class="custom-shape-divider-bottom-1610307318">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                </svg>
            </div>

            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit beatae sit quam illum, ab harum vero nostrum dolorem saepe quis nesciunt alias. Est porro, ex quisquam voluptates debitis in earum!
            Ullam voluptatum cum magni dolores iure unde nobis eligendi voluptatem quisquam reiciendis saepe cumque labore exercitationem quas vitae hic, aliquam architecto veniam asperiores adipisci? Quod cumque sit dignissimos optio consequatur!
            Officiis, voluptate delectus laudantium at unde cum molestias dolor beatae rem numquam sunt possimus, non eligendi id quibusdam ut labore perferendis, laboriosam suscipit dolores sit blanditiis libero doloribus ipsam? Sed.
            Eveniet natus explicabo soluta ratione culpa officiis quo nesciunt ducimus veritatis enim dolores libero vero saepe voluptate molestias nam, temporibus quasi maiores sequi itaque iusto delectus deserunt! Vitae, aliquam modi!
            Nulla maiores, pariatur dolorem consequuntur quisquam a voluptates repellat minima! Labore dignissimos delectus eligendi ipsum fuga exercitationem quibusdam optio maiores eius, consequatur tempore expedita id pariatur beatae minus quos enim?</p>
            
        </div>
    </div>
</section>

