<section class="container HomePets">
    <div class="row">
        <div class="col-12 my-4 HomePets-head">
            <div class="">
                <h2>My Little Pet</h2>
                <p>Hola {{user.names}}</p>
            </div>
            <div> <img [src]="user.viewImageUrl" alt="imgUser.png"> </div>
        </div>
        <section class="col-12 HomePets-body">
            <p>Nuestros Servicios</p>
            <div class="row align-items-center ">
                <div class="col-md-6 cardM">
                    <div class="AddPet borde">
                        <p>Agrega una mascota</p>
                        <img src="../../../assets/imgs/dog2.png" alt="imgMascota.png">
                        <form (ngSubmit)="cretePet()" autocomplete="off" [formGroup]="newpetForm">
                            <div class="form-group">
                                <input formControlName="typePet" type="text" class="form-control" placeholder="Tipo de mascota">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <input formControlName="name" type="text" class="form-control" placeholder="Nombre  mascota">
                                </div>
                                <div class="form-group col-md-4">
                                    <input formControlName="years" type="number" class="form-control" placeholder="1 año">
                                </div>
                            </div>
                            <button [disabled]="newpetForm.invalid" class="btn"> <img src="../../../assets/imgs/cargaPet.png" alt=""> </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 cardM">
                    <div class="viewPet borde" routerLink="../MyPet"  >
                        <img src="../../../assets/imgs/Cat.png" width="200px" height="200px" alt="verMascotas.png">
                        <h4>Ver mis mascotas</h4>
                    </div>
                </div>
                <div class="col-md-6 cardM">
                    <div class="viewPet borde" routerLink="../Notes"  >
                        <img src="../../../assets/imgs/dog1.png" width="200px" height="200px" alt="verConsultas.png">
                        <h4>Consultas & tratamientos</h4>
                    </div>
                </div>
                <div class="col-md-6 cardM">
                    <div class="infoMedic"  >
                        <p class="text-center">Personal medico especializado</p>
                        <img src="../../../assets/imgs/medic.png" width="320px" height="280px" alt="verConsultas.png">
                        <p> <span>Somos un grupo de profesionales enfocados en buscar el bienestar general y la buena salud de tus mascotas, prestando todos los servicios que estas requieren, de manera amable, eficiente y considerando  en todo momento que estamos atendiendo a tu familia.</span> </p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    
    <app-search-medic class="row" ></app-search-medic>
    
</section>

