<div class="container my-5 footer animate__animated animate__fadeIn">
    <div class="row">
        <div class="col-md-6">
            <h4>¿Como puedo ayudarte?</h4>
            <p>Tienes alguna duda o comentario sobre tu mascota o nuestros serviciós. escribenos y resolveremos tus dudas.</p>
            <form (ngSubmit)="commentSubmit()" autocomplete="off" [formGroup]="commentForm">
                <div class="form-group">
                    <label for="email">Correo Electronico</label>
                    <input formControlName="email" type="email" class="form-control" id="email"  placeholder="Tucorreo@gmail.com">
                    <p class="validate text-danger" *ngIf="validateFields('email')">El correo electronico es obligatorio y debe ser valido</p>
                  </div>
                  <div class="form-group">
                    <label for="texts">Comentarios</label>
                    <textarea formControlName="comment" class="form-control" id="texts" rows="3" placeholder="Tienes alguna duda o comentario registra un correo con tu duda y estaremos en contacto"></textarea>
                    <p class="validate text-danger" *ngIf="validateFields('comment')">El campo es obligatorio</p>
                  </div>
                  <button [disabled]="commentForm.invalid" type="submit" class="btn">Enviar</button>
            </form>
        </div>
        <div class="col-md-6 text-center">
            <img src="../../../assets/imgs/footer.png" alt="">
        </div>
    </div>
</div>
